{
	admin off
}

git.211api.com {
	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>uri delete
			}
		}
	}

	encode zstd gzip

	reverse_proxy gitea:3000 {
		health_uri /api/healthz
		health_interval 30s
		health_timeout 5s
	}
}
